.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canv {
    border: 1px solid #444444;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#spawn {
    margin: 2rem;
    cursor: pointer;
    background-color: #383838;
    color: #f0f0f0;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

